name: Publish Model Metrics

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pull-requests: write

jobs:
  publish-metrics:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: iterative/setup-cml@v2

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Generate Report
        run: |
          echo "## CI Run Report" >> report.md
          echo "Accuracy: $(jq -r '.Score.Accuracy' results/metrics.json)" >> report.md
          echo "Precision: $(jq -r '.Score.Precision' results/metrics.json)" >> report.md
          echo "Recall: $(jq -r '.Score.Recall' results/metrics.json)" >> report.md
          echo "F1-Score: $(jq -r '.Score[\"F1-Score\"]' results/metrics.json)" >> report.md
          echo "ROC-AUC: $(jq -r '.Score[\"ROC-AUC\"]' results/metrics.json)" >> report.md
          echo "*New model artifact created and tested.*" >> report.md

      - name: Publish Report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create report.md
